# Archivos de compilación y temporales de Android Studio / Gradle
.gradle/
build/
/build
app/build/
*.iml
.idea/
/local.properties

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de firma y secretos (¡Muy importante!)
*.jks
*.keystore
secure.properties

# Capturas y reportes
captures/
assets/captures/